@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  height: 550px;
  width: 400px;
  overflow: hidden !important;
}

// Global font size
$body-size: 15px;

$grey-lighter: #eff4f7;
$grey: #8a9fa8;

$orange-light: #ff9548;
$orange: #f16522;
$orange-dark: #d64500;

$blue-light: #9095af;
$blue: #222b60;
$blue-dark: #222b60;

$red-light: rgba(231, 183, 183, 0.5);

$family-sans-serif: 'Roboto', sans-serif;
$primary: $blue;
$link: $orange;
// $danger: $red-light;
$input-border-color: $grey;
$control-border-width: 1px;
$input-shadow: none;
$input-radius: 12px;

// MODAL
$modal-close-right: 4px;
$modal-close-top: 8px;

// BOX
// $box-shadow: none;

.main-view {
  display: flex;
  flex: 1;
}

.account-preview.box {
  overflow: hidden;
  text-overflow: ellipsis;
  background: $grey-lighter;
  height: 3.2em;
  cursor: pointer;
}

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/helpers/_all.sass';
@import 'bulma/sass/elements/box.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/layout/hero.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/components/modal.sass';
@import 'bulma/sass/components/dropdown.sass';
@import 'bulma/sass/components/tabs.sass';
@import 'bulma/sass/grid/columns.sass';

// Bulma Overrides
.modal-content {
  max-height: calc(100vh - 100px);
  padding: 0 15px;
}

.modal-background {
  width: 100vw;
  height: 100vh;
}

a:hover {
  color: $orange-dark;
}

// Custom classes
.header {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $grey-lighter;
  min-height: 39px;
  background: white;
}

.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.02);

  &.is-active {
    visibility: visible;
  }

  .menu-item {
    display: block;
    padding: 1rem 0.75rem;
    border-bottom: 1px solid $grey-lighter;
  }
}

.dropdown-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.loader {
  @include loader;
  border-width: 1px;
  border-bottom-color: #94b1c3;
  border-left-color: #94b1c3;
}

#warning-tx-list {
  border-left: 5px solid rgb(255, 215, 0);
  background-color: rgb(255, 215, 0, 0.1);
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

#danger-tx-list {
  border-left: 5px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0, 0.1);
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

.tx-field-warning {
  border: solid 1px rgb(255, 215, 0);
  background-color: rgb(255, 215, 0, 0.1);
}

.tx-field-danger {
  border: solid 1px rgb(255, 215, 0);
  background-color: rgb(255, 0, 0, 0.1);
}
